<h1>Créer un article</h1>

<% if @article.errors.any? %>
 <h2>Les erreurs suivantes empêchent la création de l'article</h2>
 <ul>
 <% @article.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
  <%= f.submit %>
 </p>
<% end %>

<%= link_to 'Back', articles_path %>
